@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: $divider;
    
    &-container {
        width: 100%;
        padding: $padding*2;
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
            padding: $padding*2 $padding*3;
        }

        @media (min-width: 1280px) {
            width: 1080px;
            padding: $padding*2 0;
        }
    }

    &__logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: $padding*2;

        @media (min-width: 768px) {
            width: 20%;
            justify-content: flex-start;
            padding-bottom: 0;
        }

        &-link {
            display: flex;
        }
    }

    &__content {
        @include list-style-reset;
        width: 100%;
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            width: 80%;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    &__search {
        display: flex;
        width: 100%;
        margin-bottom: $padding;

        @media (min-width: 768px) {
            width: 250px;
            margin-bottom: 0;
            margin-right: $padding*3;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        width: 100%;

        @media (min-width: 768px) {
            width: auto;
        }
    }

    &__upload {
        display: flex;
        width: 100%;

        @media (min-width: 768px) {
            width: 100px;
        }
        
        &-link {
            width: 100%;
            text-decoration: none;
        }
    }

    &__avatar {
        display: flex;
        width: auto;
        margin-left: $padding*2;

        @media (min-width: 768px) {
            margin-left: $padding*3;
        }
    }
}