/* ==================== Primary Colors ==================== */
$primary-blue: #0095FF; // Blue
$primary-black: #323232; // Black
$primary-white: #FFFFFF; // White rgb(255,255,255)

/* ==================== Secondary Colors ==================== */
$secondary-blue: #0065AD; // Dark blue
$secondary-silver: #AFAFAF; // Silver
$secondary-mercury: #E1E1E1; // Mercury
$secondary-alabaster: #FAFAFA; // Alabaster rgb(250,250,250)